<div class="container">
  <h1>TodoList01-Angular</h1>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="nameFilter"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </form>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <select
        name="sort"
        id="inputsort"
        class="form-control"
        required="required"
       (click)="onSort(value)"
      >
        <option value="all">ALL</option>
        <option value="asc">ASC</option>
        <option value=-1>DESC</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>arress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products| filter: nameFilter; let i =index">
            <td>{{ i+1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.arress }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
